body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  padding: 20px; /* Adding padding around the container */
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}
form {
  margin-top: 20px; /* Add margin to the top of the form */
}

form div {
  margin-bottom: 15px; /* Add margin below each form element */
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #666;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}
